*\.tgz
*\.csv
*\.log
\.external.*

.DS_Store
.~lock*
.hg*
.settings*
.idea*

config.yaml

*data*/*
ldap*
Test/data/*
Test/data2/*
Test/Diplomas/*
Test/Exas/*
Test/log
Test/run
Diplomas/*/*
Diplomas.Profeda*
Diplomas.Man
old/*
Exas/
po/*mo
po/*pot
tmp/

Test/share_test
Doc/.backup

